body {
    background-color: white;
    padding-top: 96px !important;
    
    
}

.navbar {
    background-color: #414141 !important;
}
.jumbotron {
    background: rgb(244, 244, 244) !important;
    
    
    
}